<!DOCTYPE html>

<html>

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>用户管理系统</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->

    <link rel="stylesheet" href="../plugins/elementui/index.css">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="../css/style.css">

</head>

<body class="hold-transition">

<div id="app">

    <div class="content-header">

        <h1 style="position:absolute;">用户管理</h1>

        <el-button class="btn1" type="danger" round @click="logout()">登出</el-button>

    </div>

    <div class="app-container">

        <div class="box">

            <div class="filter-container">

<!--                v-model用于监听数据变化-->
                <el-input placeholder="用户名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>

                <el-button type="primary" icon="el-icon-search" @click="findById()">查询</el-button>

                <el-button type="primary" icon="el-icon-edit" @click="handleCreate()">新建</el-button>


            </div>

            <!--            是否为斑马纹，高亮当前行-->
            <el-table size="small" current-row-key="userid" :data="dataList" stripe highlight-current-row>

                <el-table-column prop="userid" label="用户id" align="center"></el-table-column>

                <el-table-column prop="password" label="用户密码" align="center"></el-table-column>

                <el-table-column prop="gender" label="性别" align="center"></el-table-column>

                <el-table-column prop="number" label="手机号" align="center"></el-table-column>

                <el-table-column prop="interest" label="兴趣" align="center"></el-table-column>

                <el-table-column prop="status" label="状态" align="center"></el-table-column>

                <el-table-column label="操作" align="center">
                    <!--                 插槽   vue2组件获取table行数据-->
                    <template slot-scope="scope">

                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>

                        <el-button type="danger" size="mini" @click="handleDelete(scope.row)">删除</el-button>

                    </template>

                </el-table-column>

            </el-table>

            <!-- 新增标签弹层 -->

            <div class="add-form">

                <el-dialog title="新增用户" :visible.sync="dialogFormVisible">

                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">

                        <el-row>

                            <el-col :span="12">

                                <el-form-item label="用户id" prop="userid">

                                    <el-input v-model="formData.userid"/>

                                </el-form-item>

                            </el-col>

                            <el-col :span="12">

                                <el-form-item label="用户密码" prop="password">

                                    <el-input v-model="formData.password"/>

                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="8">

                                <el-form-item label="手机号" prop="number">

                                    <el-input v-model="formData.number"/>

                                </el-form-item>

                            </el-col>

                            <el-col :span="8">

                                <el-form-item label="性别" prop="gender">
                                    <el-radio-group v-model="formData.gender">
                                        <el-radio label="男"></el-radio>
                                        <el-radio label="女"></el-radio>
                                    </el-radio-group>
                                </el-form-item>

                            </el-col>

                            <el-col :span="8">
                                <el-form-item label="个人状态" prop="status">
                                    <el-select v-model="formData.status" placeholder="请选择">
                                        <el-option
                                                v-for="item in options"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="兴趣爱好">

                                    <el-input v-model="formData.interest" type="textarea" :rows="4"></el-input>

                                </el-form-item>

                            </el-col>

                        </el-row>

                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <!--                        选择返回变量ref作为检验的值-->
                        <el-button type="primary" @click="handleAdd('dataAddForm')">确定</el-button>

                    </div>

                </el-dialog>

            </div>

            <!-- 编辑标签弹层 -->

            <div class="add-form">

                <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">

                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">

                        <el-row>

                            <el-col :span="12">

                                <el-form-item label="用户id" prop="userid">

                                    <el-input v-model="formData.userid" :disabled="true"/>

                                </el-form-item>

                            </el-col>

                            <el-col :span="12">

                                <el-form-item label="用户密码" prop="password">

                                    <el-input v-model="formData.password"/>

                                </el-form-item>

                            </el-col>

                        </el-row>
                        <el-row>

                            <el-col :span="8">

                                <el-form-item label="手机号" prop="number">

                                    <el-input v-model="formData.number"/>

                                </el-form-item>

                            </el-col>

                            <el-col :span="8">

                                <el-form-item label="性别" prop="gender">
                                    <el-radio-group v-model="formData.gender">
                                        <el-radio label="男"></el-radio>
                                        <el-radio label="女"></el-radio>
                                    </el-radio-group>
                                </el-form-item>

                            </el-col>

                            <el-col :span="8">
                                <el-form-item label="个人状态" prop="status">
                                    <el-select v-model="formData.status" placeholder="请选择">
                                        <el-option
                                                v-for="item in options"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                            </el-col>

                        </el-row>

                        <el-row>

                            <el-col :span="24">

                                <el-form-item label="兴趣">

                                    <el-input v-model="formData.interest" type="textarea" :rows="4"></el-input>

                                </el-form-item>

                            </el-col>

                        </el-row>

                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>

                        <el-button type="primary" @click="handleEdit('dataEditForm')">确定</el-button>

                    </div>

                </el-dialog>

            </div>

        </div>

    </div>

</div>

</body>

<!-- 引入组件库 -->

<script src="../js/vue.js"></script>

<script src="../plugins/elementui/index.js"></script>

<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>

<!--    <script src="../js/request.js"></script>-->

<script>
    let vue = new Vue({

        el: '#app',
        data: {
            pagination: {},
            dataList: [],//当前页要展示的列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//控制表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            options: [{
                value: '疲劳',
                label: '疲劳'
            }, {
                value: '紧张',
                label: '紧张'
            }, {
                value: '轻松',
                label: '轻松'
            }, {
                value: '忧伤',
                label: '忧伤'
            }, {
                value: '喜悦',
                label: '喜悦'
            }],
            rules: {//校验规则
                userid: [
                    {required: true, message: '用户id为必填项', trigger: 'blur'},
                    {min: 8, max: 8, message: '长度为8个数字', trigger: 'blur'}
                ],
                password: [
                    {required: true, message: '用户密码为必填项', trigger: 'blur'},
                    {min: 6, max: 15, message: '长度为6到15个数字', trigger: 'blur'}
                ],
                number: [
                    {required: true, message: '手机号码为必填项', trigger: 'blur'},
                    {min: 11, max: 11, message: '长度为11个数字', trigger: 'blur'}
                ],
                gender: [
                    {required: true, message: '性别为必选项', trigger: 'change'}
                ]

            }
        },


        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            //响应拦截器
            axios.interceptors.response.use( res => {
                console.log("---响应拦截器---",res);
                const code = res.data.code;
                console.log("---code---",code);
                // 响应状态码为 2xx 时触发成功的回调，形参中的 response 是“成功的结果”
                if(res.data.code === 10000) {
                    console.log("非法访问成功被拦截！");
                    //移除缓存重定位
                    localStorage.removeItem('adminInfo');
                    window.top.location.href = 'login.html';
                } else {
                    return res;
                }
            }, error => {
                console.log("err:" + error);
                return Promise.reject(error);
            });
            this.getAll();
        },

        methods: {
            //拉取列表
            getAll() {
                axios.get("/admin").then((res) => {
                    this.dataList = res.data.data;
                })
            },

            findById() {
                if (this.pagination.queryString != null && this.pagination.queryString != "") {
                    axios.get("/admin/" + this.pagination.queryString).then((res) => {
                        console.log(res.data.data);
                        if (res.data.code === 10031) {
                            this.dataList = [res.data.data];
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    })
                }  else {
                    this.getAll();
                }
            },

            //弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //添加
            handleAdd(formData) {
                this.$refs[formData].validate((valid) => {
                    if (valid) {
                        axios.post("/admin", this.formData).then((res) => {
                            if (res.data.code === 10041) {
                                this.dialogFormVisible = false;
                                this.$message.success("添加成功!");
                            } else if (res.data.code === 10040) {
                                //this.dialogFormVisible = false;
                                this.$message.error(res.data.msg);
                            } else {
                                this.$message.error(res.data.msg);
                            }
                        }).finally(() => {
                            this.getAll();
                        })
                    } else {
                        this.$message.error("未填写必要信息!");
                        return false;
                    }
                })
            },

            //弹出编辑窗口
            handleUpdate(row) {
                console.log(row.userid); //查询条件
                //查询数据
                axios.get("/admin/" + row.userid).then((res) => {
                    console.log(res.data.data);
                    if (res.data.code === 10031) {
                        this.formData = res.data.data;
                        this.dialogFormVisible4Edit = true;
                    } else {
                        this.$message.error(res.data.msg);
                    }
                })
            },

            //编辑
            handleEdit(formData) {
                this.$refs[formData].validate((valid) => {
                    if(valid) {
                        axios.put("/admin", this.formData).then((res) => {
                            if (res.data.code === 10061) {
                                this.dialogFormVisible4Edit = false;
                                this.$message.success("修改成功!");
                            } else if (res.data.code === 10060) {
                                this.$message.error("修改失败!");
                            } else {
                                this.$message.error(res.data.msg);
                            }
                        }).finally(() => {
                            this.getAll();
                        })
                    } else {
                        this.$message.error("未填写必要信息!");
                        return false;
                    }
                })
            },

            // 删除
            handleDelete(row) {
                //1.弹出提示框
                this.$confirm("是否删除该条数据(不可恢复)", "提示", {
                    type: "info"
                }).then(() => {
                    console.log(row.userid);
                    //删除业务
                    axios.delete("/admin/" + row.userid).then((res) => {
                        console.log(res.data.data);
                        if (res.data.code === 10051) {
                            this.$message.success("删除成功!");
                        } else {
                            this.$message.error("删除失败!");
                        }
                    })
                }).catch(() => {
                    //取消删除
                    this.$message.info("取消删除!");
                }).finally(() => {
                    this.getAll();
                })
            },

            logout() {
                axios.post("/admin/logout").then(res => {
                    console.log("logout!");
                    if(res.data.code === 10001)
                    {
                        localStorage.removeItem('adminInfo');
                        window.location.href = 'login.html';
                    }
                })
            }
        }
    });

</script>

</html>